In [1]:
import pandas as pd

train = pd.read_csv("diabetic_data_training.csv")

train.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
1,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
2,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
3,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
4,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30

In [2]:
train.shape

(91589, 50)

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91589 entries, 0 to 91588
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              91589 non-null  int64
 1   patient_nbr               91589 non-null  int64
 2   race                      91589 non-null  object
 3   gender                    91589 non-null  object
 4   age                       91589 non-null  object
 5   weight                    91589 non-null  object
 6   admission_type_id         91589 non-null  int64
 7   discharge_disposition_id  91589 non-null  int64
 8   admission_source_id       91589 non-null  int64
 9   time_in_hospital          91589 non-null  int64
 10  payer_code                91589 non-null  object
 11  medical_specialty         91589 non-null  object
 12  num_lab_procedures        91589 non-null  int64
 13  num_procedures            91589 non-null  int64
 14  num_medications           91589 non-null  int64
 15  number_outpatient         91589 non-null  int64
 16  number_emergency          91589 non-null  int64
 17  number_inpatient          91589 non-null  int64
 18  diag_1                    91589 non-null  object
 19  diag_2                    91589 non-null  object
 20  diag_3                    91589 non-null  object
 21  number_diagnoses          91589 non-null  int64
 22  max_glu_serum             4796 non-null   object
 23  A1Cresult                 15307 non-null  object
 24  metformin                 91589 non-null  object
 25  repaglinide               91589 non-null  object
 26  nateglinide               91589 non-null  object
 27  chlorpropamide            91589 non-null  object
 28  glimepiride               91589 non-null  object
 29  acetohexamide             91589 non-null  object
 30  glipizide                 91589 non-null  object
 31  glyburide                 91589 non-null  object
 32  tolbutamide               91589 non-null  object
 33  pioglitazone              91589 non-null  object
 34  rosiglitazone             91589 non-null  object
 35  acarbose                  91589 non-null  object
 36  miglitol                  91589 non-null  object
 37  troglitazone              91589 non-null  object
 38  tolazamide                91589 non-null  object
 39  examide                   91589 non-null  object
 40  citoglipton               91589 non-null  object
 41  insulin                   91589 non-null  object
 42  glyburide-metformin       91589 non-null  object
 43  glipizide-metformin       91589 non-null  object
 44  glimepiride-pioglitazone  91589 non-null  object
 45  metformin-rosiglitazone   91589 non-null  object
 46  metformin-pioglitazone    91589 non-null  object
 47  change                    91589 non-null  object
 48  diabetesMed               91589 non-null  object
 49  readmitted                91589 non-null  object
dtypes: int64(13), object(37)
memory usage: 34.9+ MB

In [4]:
train["readmitted"].value_counts()

readmitted
NO     49355
>30    31989
<30    10245
Name: count, dtype: int64

In [5]:
cols_to_drop = [
    "encounter_id",
    "patient_nbr",
    "weight",
    "payer_code",
    "medical_specialty"
]

train = train.drop(columns=cols_to_drop)

train.shape

(91589, 45)

In [6]:
import pandas as pd

train = train.replace("?", pd.NA)

In [11]:
cat_cols = train.select_dtypes(include="object").columns
num_cols = train.select_dtypes(exclude="object").columns

print("The number of category features:", len(cat_cols))
print("The number of numerical features:", len(num_cols))

The number of category features: 34
The number of numerical features: 11

In [8]:
train[cat_cols] = train[cat_cols].fillna("Unknown")

In [9]:
train[num_cols] = train[num_cols].fillna(train[num_cols].median())

In [12]:
# Separate features and labels
y = train["readmitted"]
X = train.drop(columns=["readmitted"])

# Label encoding
y = y.map({"NO": 0, ">30": 1, "<30": 2})

y.value_counts()

readmitted
0    49355
1    31989
2    10245
Name: count, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [15]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((73271, 44), (18318, 44), (73271,), (18318,))

In [17]:
X_train.to_csv("X_train.csv", index=False)
X_val.to_csv("X_val.csv", index=False)

y_train.to_csv("y_train.csv", index=False)
y_val.to_csv("y_val.csv", index=False)

print("Saved successfully X_train.csv, X_val.csv, y_train.csv, y_val.csv")

Saved successfully X_train.csv, X_val.csv, y_train.csv, y_val.csv